# Pooled Test

## Independent samples t-test that assumes equal variances)

### Here's a brief note on the Independent Samples T-test:

The Independent Samples T-test is a statistical analysis used to determine if there is a significant difference between the means of two independent groups. It's particularly useful when you want to compare the means of two groups to assess whether the observed differences are statistically significant or simply due to random chance.

### Key Points about the Independent Samples T-test:
**Comparison of Group Means:** The primary purpose of the independent samples t-test is to evaluate whether the means of two groups are significantly different from each other.

**Assumption of Independence:** This test assumes that the observations within each group are independent of each other. In other words, the data points in one group are not related or dependent on the data points in the other group.

**Equal Variance or Not:** The test can be performed with the assumption of equal variances between the two groups (pooled t-test) or without this assumption (Welch's t-test). Equal variances can be tested using statistical tests or visual inspection of data.

**Interpretation:** The test results yield a p-value, which indicates the probability of observing the observed difference (or a more extreme difference) if the means of the two groups were actually equal. If the p-value is below a chosen significance level (e.g., 0.05), it suggests that the difference is statistically significant, and you may reject the null hypothesis.

**Degrees of Freedom:** The degrees of freedom used in the t-test formula depend on the sample sizes and the assumptions made about equal variances.

**Use Cases:** The independent samples t-test is commonly used in various fields, such as psychology, biology, economics, and more. For example, it can be used to compare the effectiveness of different medications, the performance of students under different teaching methods, or the productivity of employees under different conditions.

In conclusion, the independent samples t-test is a valuable tool for determining if there is a significant difference between the means of two independent groups. It allows researchers to make data-driven decisions based on the statistical evidence and plays a crucial role in hypothesis testing and making informed conclusions.

## Here is an outline of the steps we'll cover:

* Importing the necessary libraries
* Loading the dataset
* Data preprocessing (if needed)
* Formulating the null and alternative hypotheses
* Choosing the appropriate t-test based on the study design
* Conducting the t-test
* Interpreting the results and making conclusions

Let's perform a welch-test using the dataset "bloodg".

### Here's the code with explanations for each analytical step

### Step 1: Import the necessary libraries
* We'll import the required libraries, including numpy, pandas, and scipy.stats.

In [1]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind
import os

In [2]:
# Changing working directory
os.chdir("C:\\Users\\HP\\Desktop\\JITSOLUTIONS\\Datasets0")

In [3]:
pwd

'C:\\Users\\HP\\Desktop\\JITSOLUTIONS\\Datasets0'

________________

### Step 2: Load the dataset
* Assuming your dataset is in a CSV file format, you can load it into a Pandas DataFrame using the read_csv() function.
* Assuming your dataset is in a xlsx file format, you can load it into a Pandas DataFrame using the read_excel() function.

In [6]:
# Importing dataset
df = pd.read_excel("score.xlsx")

In [7]:
df.head()

  group  score
0   new  12.36
1   new   4.05
2   new  17.16
3   new   8.44
4   new   6.40

### Step 3: Formulating the null and alternative hypotheses
Define the null hypothesis (H0) and alternative hypothesis (H1) based on your research question. These hypotheses should be specific to your analysis.

In [8]:
# Example hypotheses
# H0: There is no significant difference between the new teaching method and traditional teaching method.
# H1: There is significant difference between the new teaching method and traditional teaching method.

In [15]:
# Extract the columns for the paired samples
group_1 = df[df['group'] == "new"]['score']
group_2 = df[df['group'] == "Trad"]['score']

In [16]:
df1=pd.DataFrame(group_1)

In [17]:
df2=pd.DataFrame(group_2)

In [18]:
df1.head()

   score
0  12.36
1   4.05
2  17.16
3   8.44
4   6.40

In [33]:
df1.describe().transpose()

       count    mean       std   min     25%     50%     75%    max
score   30.0  10.042  5.149079 -1.21  7.0275  10.525  14.405  17.16

In [19]:
df2.head()

    score
30  13.01
31  16.69
32  20.24
33  20.23
34  19.32

In [31]:
df2.describe().transpose()

       count       mean      std   min      25%    50%      75%    max
score   30.0  15.519667  4.50191  4.63  13.6125  15.28  18.5425  26.95

### Step 4: Conduct the Independent-sample t-test
* Carryout levene's test for homogeneity of variance.
* Use the ttest_ind function from the scipy.stats module to perform the independent-sample t-test. 
* Pass the group_1 and group_2 variables as arguments.

#### Levene's Test:

* Levene's test is a statistical test that examines the equality of variances between groups.
* It tests the null hypothesis that the variances are equal.
* You can use the levene() function from the scipy.stats module to perform Levene's test.

In [20]:
from scipy.stats import levene

In [21]:
# Perform Levene's test
t_stat, p_val = levene(group_1, group_2)

alpha = 0.05

if p_val < alpha:
    print("The variances are significantly different. Use Welch's t-test or another appropriate variant.")
else:
    print("The variances are not significantly different. You can consider using the pooled t-test if other assumptions are met.")

The variances are not significantly different. You can consider using the pooled t-test if other assumptions are met.

In [26]:
# Perform the independent sample t-test assuming unequal variance
t_statistic, p_value = ttest_ind(group_1, group_2,equal_var=True)

In [27]:
print(f"t_statistic: {t_statistic}")
print(f"p_value: {p_value}")

t_statistic: -4.386571316895365
p_value: 4.9222692613951805e-05

### Step 5: Interpret the results and make conclusions
* Compare the obtained p-value with a predetermined significance level (Î±) to determine if the results are statistically significant. 
* You can print the results and provide a conclusion based on the outcome of the test.

In [29]:
alpha = 0.05

if p_value < alpha:
    print("Reject the null hypothesis. There is significant difference between the new teaching method and traditional teaching method.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference between the new teaching method and traditional teaching method.")

Reject the null hypothesis. There is significant difference between the new teaching method and traditional teaching method.